numpy<2
fastapi
uvicorn
python-dotenv
pandas
pyarrow
rapidfuzz
google-generativeai
python-multipart
sentence-transformers==2.2.2
huggingface-hub==0.14.1
scikit-learn
unstructured
pypdf
python-docx
supabase